<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div style="display: flex; flex-wrap: wrap;">
            <% blogs.forEach(blog=> { %>
                <div class="card m-4" style="width: 18rem;">
                    <img src="<%= blog.coverImgURL %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= blog.title %>
                        </h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
                    </div>
                </div>
                <% }) %>
        </div>
        <%- include('./partials/script') %>
</body>

</html>